.slika {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.main {
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}
.second {
  text-transform: capitalize;
  padding: 0px 7px;
}
.text {
  text-align: justify;
  text-indent: 15px;
  padding: 0px 7px 10px 7px;
}
div {
  height: 600px;
  width: 300px;
  background-color: bisque;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 10px black;
}
