* {
  margin: 0;
  box-sizing: border-box;
}

.header1 {
  width: 100%;
  height: 10vh;
  background-color: #ffff;
  /* padding-top: 1.2em; */
  /* box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5); */
  z-index: 5;
  border: 1px solid grey;
  position: sticky;
  top: 0;
}

.logo {
  width: 5%;
  margin-left: 1em;
  clear: both;
  float: left;
  margin-top: 20px;
}

.link1 {
  margin-left: 1em;
  clear: both;
  margin-top: 20px;
}
.header1 .link {
  float: right;
  margin-right: 1em;
  margin-top: 20px;
}

.header1 .icons {
  float: right;

  margin-right: 0.5em;
  margin-top: 20px;
}

.search {
  width: 55%;
  padding-left: 2.5%;
  clear: both;
  margin-left: 1em;
  margin-top: 15px;
  height: 3em;
  border: 2px solid black;
  border-radius: 30px;
}

.header2 {
  width: 100%;
  background-color: #ffff;

  height: 5vh;
  z-index: 1;
  box-shadow: 0 4px 4px 1px grey;
  position: sticky;
  top: 10vh;
}

.links {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:hover {
  color: #5624d0;
}

.header2 .link {
  margin-left: 10px;
}

.slika {
  width: 70%;
  height: 70vh;
  background-image: url(comp3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
}

.kartice {
  width: 70%;
  margin: auto;
}

.kartica1 {
  width: 30%;
  height: 150px;
  /* background-color: bisque; */
  display: inline-block;
  border: 1px solid black;
}
.kartica2 {
  width: 30%;
  height: 150px;
  /* background-color: rgb(170, 96, 6); */
  display: inline-block;
  clear: both;
  border: 1px solid black;

  margin-left: 5%;
}
.kartica3 {
  width: 30%;
  height: 150px;
  /* background-color: rgb(40, 26, 10); */
  /* display: inline-block; */
  float: right;
  border: 1px solid black;
}

.kartice .text {
  width: 60%;
  float: right;
}

.kartice p {
  text-align: justify;
}
