* {
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 150px;
  height: 150px;
  float: right;
  /* float: left; */
}

.box1 {
  background-color: bisque;
}
.box2 {
  background-color: rgb(255, 98, 0);
}
.box3 {
  background-color: rgb(255, 0, 0);
}
.box4 {
  background-color: rgb(63, 244, 96);
  /* clear: both; */
}
.box5 {
  background-color: rgb(36, 228, 238);
}
.box6 {
  background-color: rgb(119, 44, 232);
}
.box7 {
  background-color: rgb(240, 43, 191);
}
