* {
  margin: 0;
  box-sizing: border-box;
}
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */
div {
  background-color: rgb(37, 37, 37);
  width: 400px;
  height: 200px;
  border-radius: 15px;
  position: relative;
  /* background-image: url(./card-chip-800x450.png);
  background-size: cover;
  background-position: 50px; */
  margin: 250px auto;

  align-items: center;
}
.logo {
  width: 80px;
  height: 75px;

  padding: 10px 0 0 10px;
}
.chip {
  width: 65px;
  height: 60px;
  padding: 15px 10px 0 0;
  float: right;
}

p {
  color: aliceblue;
}

h3 {
  color: aliceblue;
}
.naslov {
  padding: 15px 0 0 10px;
}
.broj {
  padding: 5px 0 0 10px;
  font-size: 20px;
}
.valid {
  position: absolute;
  right: 0;
  bottom: 35px;
  padding-right: 15px;
}
.datum {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 15px 15px 0;
}
.ime {
  position: absolute;
  bottom: 20px;
  padding-left: 10px;
}
