* {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
a,
p,
h3,
li {
  font-family: "Poppins";
}

.parallax {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
.slika {
  position: relative;
  background-image: url(./bg.png);
  width: 100%;
  height: 100vh;
  background-size: 100%;
  transform: translateZ(-10px) scale(2.1);
  z-index: -1;
  margin-bottom: 3em;
}

header {
  background-color: black;

  width: 100%;
  height: 10vh;
  display: flex;
  position: sticky;
  top: 0;

  z-index: 100;

  justify-content: center;
}

.wrapper h1 {
  color: #fff;
}

.wrapper {
  width: 80%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 15px;
}

.links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
}

.links a:hover {
  color: orangered;
}

.dugme {
  height: 3em;
  width: 10em;
  border-radius: 5px;
  border: 1px solid orangered;
  background-color: black;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
}

.dugme:hover {
  background-color: orangered;
  color: black;
}

.text {
  position: absolute;
  top: 0;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 3em; */
}

.text h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  color: #fff;
}

.h3-sto-ne-slusa {
  text-align: center;
  color: #fff;
  margin-bottom: 3em;
}

.boxevi {
  width: 75%;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.box {
  /* background-color: bisque; */
  width: 15em;
  height: 150px;
  border: 0.5px solid #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: border 0.2s;
}

.box:hover {
  border: 1px solid orange;
}

.box i {
  color: orange;
  font-size: 2em;
}

.box h3 {
  color: #fff;
  font-size: 1.5em;
}

main {
  width: 100%;
  background-color: #fff;
}

.main1 {
  width: 80%;
  height: 70vh;
  margin: auto;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding-top: 10vh;
  margin-bottom: 5em;
}

.desno {
  background-image: url(./group-young-businesspeople-meeting-office.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.levo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.levo ul {
  display: flex;
  flex-direction: column;
}

.levo li {
  background-image: url(./live-scan-orange-tree-at-sign-quality-control-check-mark-voting-button-orange-yellow-icons-removebg-preview.png);
  list-style: none;
  padding-left: 2em;
  background-size: 1.7em;
  /* background-position: left; */
  background-repeat: no-repeat;
}

.traka {
  width: 100%;

  height: 20vh;
  border: 1px solid grey;
  margin-bottom: 5em;
}

.main2 {
  height: 80vh;
  width: 80%;
  display: flex;
  margin: auto;
  gap: 20px;
}

.main2 .slicica {
  background-image: url(./female-hands-typing-computer-keyboard.jpg);
  width: 50%;
  height: 60vh;
  background-size: 100% 100%;
}

.main2 .redovi {
  display: grid;
  grid-gap: 20px;
  width: 50%;
  height: 60vh;
}

.main2 .redovi div {
  height: 25%;
  display: grid;
  grid-row-gap: 5px;

  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 1fr;
}

.main2 .redovi div h3 {
  align-self: center;
}
.main2 .redovi div p {
  align-self: start;
}

.main2 .redovi div i {
  grid-row: span 2;
  align-self: center;
}

.main2 .redovi div i {
  color: orange;
  font-size: 2em;
}

.main3 {
  width: 80%;
  height: 100vh;
  margin: auto;
}

.main3 .kartice {
  margin-top: 2em;
  height: 80vh;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main3 .kartica {
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;
}

.main3 .kartica:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
